@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Inter&family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

video {
  clip-path: url(#text-overlay);
}
.custom-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(356px, 1fr));
  gap: 100px 40px;
  padding-bottom: 3rem;
}
.custom-grid-child {
  display: flex;
  justify-content: center;
}
