@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  #tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .App {
    font-family: sans-serif;
  }
  .name {
    font-family: 'Shantell Sans', cursive;
  }
  .padding-x {
    @apply px-4 md:px-10 lg:px-16;
  }
  .icon {
    @apply p-3 bg-[#032d55] text-white max-w-max rounded-full transition duration-300;
  }
  .skill-wrapper:hover .skill-bg {
    transform: perspective(900px) translateY(-5%) rotateX(25deg);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }
}
